.women{
    &__background{
        background-image: url("../img/women.jpeg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}
