div.banner
    div.banner__item
        - var br = '<br>'
        h2.banner__title FALL LOOKBOOK
        //- h2.banner__title LUMINOUS!{br}FALL!{br}LOOKBOOK
        //- p.banner__description Our new Fashion Lookbooks have been inspired by the idea of going back to nature and of a fresh start for the new season, whilst looking at British market towns and antique fairs which have fascinating shops or stalls and galleries where you can discover the most amazing keepsakes. Precious perfume bottles, old water colour paintings, ceramics and pottery, gardening tools… all of these things have been inspirational to us this season.
        
  
