footer.footer
    div.trending
        div.trending__list
            a.trending__link.trending__link--title(href="#") ABOUT
            a.trending__link(href="#") About Labomba
            a.trending__link(href="#") Terms & Conditions
            a.trending__link(href="#") Privacy Policy
            a.trending__link(href="#") Track your Order
            a.trending__link(href="#") Disclaimer
        div.trending__list
            a.trending__link.trending__link--title(href="#") NEW ARRIVALS
            a.trending__link(href="#") Men Collection
            a.trending__link(href="#") Women Collection
            a.trending__link(href="#") Sale
            a.trending__link(href="#") Dress Collection
            a.trending__link(href="#") Jumper Collection
        div.trending__list
            a.trending__link.trending__link--title(href="#") FOLLOW US
            a.trending__link(href="#") Facebook
            a.trending__link(href="#") Twitter
            a.trending__link(href="#") Instagram
            a.trending__link(href="#") Vimeo
            a.trending__link(href="#") Pinterest
        div.trending__list
            a.trending__link.trending__link--title(href="#") GENERAL
            a.trending__link(href="#") Webstore
            a.trending__link(href="#") FAQ
            a.trending__link(href="#") Size Guide
            a.trending__link(href="#") Delivery & Returns
        div.trending__list
            a.trending__link.trending__link--title(href="#") THE LATEST
            a.trending__link(href="#") Blog
            a.trending__link(href="#") Lookbook
            a.trending__link(href="#") Press
        div.trending__list
            a.trending__link.trending__link--title(href="#") CONTACT
            a.trending__link(href="#") Contact
            a.trending__link(href="#") Newsletter
    div.terms
        a.terms__link(href="https://dahz.daffyhazan.com/labomba/", target="_blank") © 2019. All Rights Reserved. Designed by Dahz
