header.header

    div.profile#profile
        div.profile__generic
            a.profile__item(href="#") 
                img.profile__icon(src="img/src.svg", alt="Ícono de búsqueda")
            h3.profile__title.is-hide#profile__title .LABOMBA 
            a.profile__item(href="#") 
                img.profile__icon(src="img/cart.svg", alt="Ícono de búsqueda") 
        
    h1.header__title .LABOMBA
    
    img.header__trigger#header__trigger(src="img/menu.svg", alt="Ícono de menu")
    
    nav.menu#menu
        ul.menu__list
            li.menu__item
                a.menu__link(href="#") HOME
            li.menu__item
                a.menu__link(href="#") SHOP
            li.menu__item
                a.menu__link(href="#") HEADERS
            li.menu__item
                a.menu__link(href="#") BLOG
            li.menu__item
                a.menu__link(href="#") PAGES
            li.menu__item
                a.menu__link(href="#") LOOKBOOK
            li.menu__item
                a.menu__link(href="#") SHORTCODES
   
    div.contact
        div.contact__item
            a.contact__link(href="#") HOTLINE +00 123 456        
            p.contact__description Toll-free in the entire stat        
        div.contact__item
            a.contact__link(href="#") Toll-free in the entire stat        
            p.contact__description Free Shipping for New Signup        
        div.contact__item
            a.contact__link(href="#") NEW LOOKBOOK        
            p.contact__description Shop the Lookbook        
  
