section.men 
    div.men__background
    div.men__info
        div.men__info-generic
            h2.men__title MEN 
            p.men__description Ed pulvinar malesuada tempor quis maecenas lectus rutrum, eros turpis dictum sociosqu erat etiam ad eu, mi posuere diam viverra sodales vulputate eleifend pretium risus egestas torquent donec molestie neque potenti.
            p.men__description Sagittis eu volutpat odio facilisis mauris sit amet. Sed vulputate odio ut enim blandit volutpat maecenas. Turpis tincidunt id aliquet risus feugiat in ante metus euismod mattis fermentum quisque orci nibh metus ad, laoreet potenti fames primis litora id proin habitant.
            
            a.button(href="#") SHOP NOW
