div.news
    img.news__img(src="img/model.jpg", alt="Ímagen de new")
    div.news__info
        h2.news__title NEW COLLECTION 
        p.news__description Luctus fringilla proin urna nascetur volutpat viverra phasellus rutrum facilisi, nisi elementum integer hendrerit primis egestas augue. Accumsan nec sed ullamcorper euismod massa ad cubilia donec vulputate elementum, parturient phasellus conubia lobortis augue urna facilisis tortor nam, facilisi dis torquent pretium viverra sociosqu quisque ut curae. Lacinia nulla congue nisi fermentum potenti eleifend cubilia.
