/*Colors*/
$black: #121212;
$white: #ffffff;
$gray: #696969;
$gray-50: #d1d1d1;
$gold: #d6dcb1;
/*Width*/
$gap: 30px;
$container: 990px;
$max-width: 1600px;
/*Media Queries*/
$mq1 : 768px;
$mq2 : 1200px;
